*{
  box-sizing: border-box;
}
body{
  background-color: lightgrey;
}
header{
  background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/80s-background-stock-footage-video-shutterstock-28.jpeg");
}
h1{
  font-size: 12vw;
  color: currentColor;
  -webkit-text-stroke: 1px #cc73cf;
}
h2{
  display: inline-block;
  font-size: 4vw;
  color: currentColor;
  -webkit-text-stroke: 1px #cc73cf;
  text-align: center;
}
h3{
  text-align: center;
}
img{
  width: 35vw;
  max-width: 100vw;
  border: thin #cc73cf solid;
}
.navi{
  display: none;
}
.fa{
  color: white;
  font-size: 5vw;
}
.fa-github-alt{
  padding-right: 1vw;
}
.fa-linkedin-square{
  padding-left: 1vw;
}
.fa-bars{
  color: black;
}
#projectTemplate{
  display: none;
}
#edTemplate{
  display: none;
}

@media screen and (min-width: 800px) {
  .fa-bars{
    display: none;
  }
  .navi{
    display: block;
    margin-top: 2vh;
    cursor: pointer;
    font-size: 4vh;
  }
  .fa{
    font-size: 2vw;
  }
  #theProjects{
    width: 50vw;
    max-width: 100vw;
    margin: auto;
  }
  h2{
    display: inline-block;
    font-size: 3vw;
    color: currentColor;
    -webkit-text-stroke: 1px #cc73cf;
    text-align: center;
  }
  header{
    background-size: cover;
    background-position: center;
  }
  img{
    width: 15vw;
    max-width: 100vw;
  }
}
