header{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
section{
  text-align: center;
}
p{
  text-align: center;
}
nav{
  text-align: center;
}
#theEducation{
  text-align: center;
}

@media all and (min-width:800px) {
  section{
    text-align: center;
  }
  nav{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  #theEducation{
    text-align: center;
  }
  .project{
    text-align: center;
  }
}
